

/**CONTAINER**/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin: 0 12rem;
    height: 60dvh;
    
    
}


@media (max-width: 600px) { 

    .container p {
        width: 250px;
    }


}


