

/**NAVBAR**/

/**CONTAINER**/
.container {
    padding: 1rem;
}

/**NAVBAR CONTAINER**/
.navbarContainer {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;


}


/*8NAVBAR MENU**/
.navbarMenu {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;

}
/**NAVBAR LINK**/
.navbarLink {
    text-decoration: none;
    color: var(--text-button-color);
    padding: 0.5rem 1rem;
    transition: 0.3s ease;
    background-color: var(--button-color);
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    border-radius: 12px;
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    margin: auto;
    width: 140px;
    height: 70px;
    
}


.navbarLink:hover {

  transition: ease-in 0.2s;
  background-color: var(--button-color-hover);

}
/**TOGGLE**/
.toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbarIcon {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 4px 0;
    transition: all 0.3s ease;
}

/*MEDIA QUERIES**/
@media (max-width: 768px) {
    .navbarMenu {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
  
    .navbarMenu.open {
      display: flex;
    }
  
    .navbarItem {
      margin: 0;
      
    }
  
    .toggle {
      display: flex; /* Show toggle on smaller screens */
    }
  }